# Jira credentials
EMAIL=
TOKEN=
DOMAIN=clustox.atlassian.net

# Date range
START_DATE=2026-03-01
END_DATE=2026-03-31

# Project selection
PROJECTS=CLUS,EV,IW,WCI,P3,PSD,NB,UA

# User defaults for scripts
USERS=Fahad Ibrahim
USER_ACCOUNT_MAP=Fahad Ibrahim|600171919edf280075eceff6
